.content {
  display: flex;
  flex-wrap: wrap;
}

.header__menu {
  display: none;
}

.hero, .top-news, .scores, .weather, .recent-news {
  order: 10;
}

@media screen and (max-width: 549px) {
  .header__logo {
    height: 48px;
    margin-right: 0.5em;
  }
  .header__title {
    margin-left: 0;
    font-size: 2em;
    vertical-align: bottom; 
  }
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
  }
}


/* Buat hero sebelah kiri dan weather sebelah kanan, hero lebih lebar sedikit */
@media screen and (min-width: 550px) {
  .hero {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60%;
    order: 1;
  }
  .top-news {
    order: 3;
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  .scores {
    order: 4;
    flex-basis: 100%;
  }
  .weather {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    order: 2;
  }
}

/* Urutkan berdasarkan berikut:
 * 1. hero
 * 2. top-news
 * 3. scores
 * 4. weather

 hero & top-news bersebelahan dan punya lebar yang sama
 scores & weather bersebelahan dan scores lebih lebar sedikit
*/

@media screen and (min-width: 700px) {
  .hero {
    order: 1;
    flex-wrap: wrap;
    flex-basis: 50%;
  }
  .top-news {
    order: 2;
    flex-wrap: wrap;
    flex-basis: 50%;
  }
  .scores {
    order: 3;
    flex-basis: 50%;
  }
  .weather {
    order: 4;
    flex-basis: 50%;
  }
}

@media screen and (min-width: 850px) {
  main, .header__inner, .nav, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}